{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favi.png' %}">
    <link href="{% static 'css/article.css' %}" rel="stylesheet">
</head>
<body>
<img id="icon" src="{% static 'img/icon.png' %}">
<nav role='navigation'>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="{% url 'home:home' %}"><li>Home</li></a>
        <a href="{% url 'remedy:magvit' %}"><li>Magvit</li></a>
        <a href="{% url 'remedy:validol' %}"><li>Validol</li></a>
      </ul>
    </div>
  </nav> 
  <img id="greengr" src="{% static 'img/greengr.png' %}">
  <p id="titleinfo">{{object.title}}</p>
<p id="bodyinf">{{object.body}}</p>


</body>
</html>